# dependências
/node_modules
/.pnp
.pnp.js

# testes
/coverage

# next.js
/.next/
/out/

# produção
/build

# arquivos de ambiente (segurança)
.env.example
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# arquivos do sistema e editores
.DS_Store
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*